* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--darkgray: rgb(60, 60, 60);
}

body {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.img-container {
	width: 500vw;
	display: flex;
	flex-direction: row;
}

img {
	margin-top: 4rem;
	width: 600px;
	height: 600px;
	object-fit: cover;
	border-radius: 30px;
	box-shadow: 0 0 5px var(--darkgray);
	margin-left: calc(50vw - 300px);
	margin-right: calc(50vw - 300px);
}

button {
	background-color: transparent;
	padding: 0;
	border: 0;
	margin: 0;
}

.arrow {
	position: fixed;
	font-size: 35px;
	color: var(--darkgray);
	padding: 1rem;
	border: 2px solid var(--darkgray);
	border-radius: 40px;
	top: 332px;
	height: 80px;
	width: 80px;
}

.left {
	left: 100px;
}

.right {
	right: 100px;
}

.arrow:hover {
	transform: scale(1.02);
}

.arrow:active {
	transform: scale(0.98);
}

.progress {
	display: flex;
	gap: 2px;
	justify-content: center;
	transform: translate(-50%, -50%);
	left: 50%;
	margin: 2rem auto;
	width: 200px;
	position: fixed;
}

.progress > button {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: gray;
	border: 1px solid gray;
}
